# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\OneDrive - University of Gdansk (for Students)\main\2021-2022\semestr4\Semestr4\Kartografia\lab9\zad3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
